<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<aside th:fragment="leftSide">
		<aside class="sidebar">
		        <div class="personal"> <span>전체관리자님</span>
		          <button onClick="window.location.href='admin_Log In.html'">Logout</button>
		        </div>
		        <div class="snb">
		          <ul>
		            <li class="current"><a href="admin_사용자관리.html">JRDT 사용자 관리</a></li>
		            <li><a href="admin_Office관리.html">Office 관리</a></li>
		          </ul>
		        </div>
		</aside>
	</aside>
</html>